body{
  background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
}
h4 {
background-image: linear-gradient(90deg, #0be4dd, rgb(98, 243, 1));
  background-clip: text;
  color: transparent;
  font-size: larger;
  
}
h1{
    background-image: linear-gradient(90deg, #0be4dd, rgb(98, 243, 1));
    background-clip: text;
    color: transparent;
    font-size: larger;

  }
.borderline{
  border-radius: 1rem;
  border-width: 3px;
  border-color:  white !important;
  border:  1px;
  box-shadow: 1px 1px 2px 2px#0be4dd;
  max-width: 370px;
  padding: 50px; 
  height: 30vmin;
  width: 50%;
margin: auto;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.inputBox{
border-radius: .2rem;
margin:5px;
background-color: transparent;
color:#fff;
box-shadow: 1px 1px 2px 2px#0be4dd;

}
.button{
  border-radius: .5rem;
  background-color: transparent;
  box-shadow: 1px 1px 2px 2px rgba(127, 17, 224, .5);
  margin: 10px;
  color:#fff;
  border-color: transparent;
  margin-top: 50px;
  min-width: 20vmin;
  
}
.button:hover{
    box-shadow: 1px 1px 2px 2px rgba(127, 17, 224, 1);
}
.chatbox{
  min-height: 50vmin;
  max-height: 50vmin;
  width: 50vmin;
  border-radius: .5rem;
  margin: auto;
  background-color: transparent;
  color: #fff;
  box-shadow: 1px 1px 2px 2px#0be4dd;
  flex-direction: column;
  overflow-wrap: normal;
  overflow-y:scroll;
  overflow-x:hidden;
}
.footer{
  width: 50vmin;
margin:auto
}

#time{
  font-size: x-small;
display: inline-block;
margin:0px

}

#author{
  display: inline-block;

  margin-left: 5px;
  margin-bottom: 10px;
 
}
#messageContentS{
  border-radius: .25rem;
    border-width: 3px;
    border-color: black !important;
    border: 1px;
    box-shadow: 1px 1px 2px 2px#0be4dd;
    width: fit-content;
    margin-left: 5px;
    padding-left: 10px;
    padding-right:10px;
    text-align: left;
    margin-block-end: 0em !important;
    overflow-y: hidden;
    display: flex;
}
#messageContentR{
  display: flex;
  border-radius: .25rem;
    border-width: 3px;
    border-color: black !important;
    border: 1px;
    box-shadow: 1px 1px 2px 2px rgba(127, 17, 224, 1);
    width: fit-content;
    margin-left: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    text-align: right;
    justify-content:flex-end;
    margin-block-end: 0em !important;
    overflow-y: hidden;
    
   
}

#other{
font-size: small;
}
.hidden{
  overflow-y: hidden !important;
}